body {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}

.main-heading {
    color: rgb(240, 128, 128);
    margin-left: 3px;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin-left: 5px;
}

.nav-list li {
    display: inline;
    /* outline: solid; */
    width: 200px;
    height: auto;
    margin-right: 25px;
}

a {
    text-decoration: none;
}

a:visited {
    color: blue;
}

a:hover {
    color: dimgrey;
}

img {
    height: auto;
    width: 600px;
    border-radius: 5px;
}